/* DESIGN SYSTEM */
:root {
  --green: rgb(68, 255, 161);
  --purple: rgb(36, 5, 62);
  --grey-purple: rgb(88, 77, 98);
  --light-purple: rgb(253, 250, 255);
}
/* FONTS */
@font-face {
  font-family: "Fraunces";
  src: url(/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf)
    format("TrueType");
}
@font-face {
  font-family: "Manrope";
  src: url(/assets/fonts/manrope/static/Manrope-Regular.ttf) format("TrueType");
}

/* MAIN CSS STYLE */
main {
  position: relative;
  overflow-x: hidden;
  background-color: var(--light-purple);
}
.flex {
  display: flex;
  justify-content: center;
}

.btn,
.link_btn {
  font-family: "Manrope", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 180%;
  text-decoration: none;
  cursor: pointer;
}
/* HEADER SECTION */
header {
  display: flex;
  justify-content: space-between;

  background-color: var(--purple);
  padding: 3.5rem 10rem;
}

header .btn {
  transition: color 300ms;
}

.btn:link,
.btn:visited {
  color: #fff;
  border-bottom: solid 2px var(--green);
}

.btn:active,
.btn:hover {
  color: var(--green);
}

main::before {
  content: "";
  display: block;
  background-color: var(--purple);
  width: 100%;
  height: 200px;
  clip-path: ellipse(57% 100px at center);
  position: absolute;
  bottom: 58%;
  left: 50%;
  transform: translate(-50%, 30%);
  z-index: 1;
}

/* HERO SECTION */

.hero {
  background-color: var(--purple);
  width: 100%;
  min-height: 38rem;
  position: relative;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 233px;
}

.hero::before {
  content: url(/assets/images/bg-pattern-1.svg);
  position: absolute;
  left: -101.71px;
  top: 0;
}

.hero::after {
  content: url(/assets/images/bg-pattern-2.svg);
  position: absolute;
  right: -47.49px;
  top: 200px;
}

.hero_content {
  max-width: 39.6875rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.hero h1 {
  font-family: "Fraunces", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: 90px;
  color: #fff;
}

.hero span {
  text-decoration: underline var(--green);
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

.link_btn {
  padding: 12px 32px;
  transition: all 300ms;
}

.link_btn:link,
.link_btn:visited {
  background-color: var(--green);
  color: var(--purple);
}

.link_btn:active,
.link_btn:hover {
  background-color: var(--purple);
  border: solid 2px var(--green);
  color: var(--green);
}
.hero_img {
  position: absolute;
  bottom: -38%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
/* FEATURES SECTION */

.features {
  font-family: "Fraunces", serif;

  gap: 32px;

  background-color: var(--light-purple);
  margin-bottom: 72px;
  padding: 88px 160px 140px 160px;
}

.features::after {
  content: "";
  background-color: var(--light-purple);
  position: absolute;
  display: block;
  width: 100%;
  height: 200px;
  clip-path: ellipse(57% 100px at center);

  bottom: 0;
  left: 0;
  transform: translate(0%, 0%);
  /* z-index: -1; */
}

.features__content {
  max-width: 22rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

.features__num {
  border: solid 1px var(--purple);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;

  align-items: center;

  font-size: 1.5rem;
  line-height: 2.5rem;
}

.features__content h2 {
  margin-bottom: 1.75rem;
  font-size: 2rem;
  line-height: 2.375rem;
}
.features__content p {
  font-family: "Manrope", sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
}
